.about {
}
.about-inner {
  background: #fff;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.about-info {
}
.about-title {
  margin-bottom: 30px;
}
.about-text {
  max-width: 655px;
}
.about-box {
  background: #445161;
  width: 430px;
  height: 246px;
}
