.contacts {
}
.contacts-wrapper {
  background: var(--bg2);
  padding: 50px;
}
.contacts-title {
  color: #fff;
  margin-bottom: 31px;
  text-align: center;
}
.contacts-box {
  display: flex;
  justify-content: center;
  width: 100%;
}
.contacts-form {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 21px 0;
  margin-right: 46px;
  input {
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    &::placeholder {
      font-size: 16px;
      color: var(--bg2);
    }
  }
}
.form-name {
}
.form-mail {
}
.form-message {
  height: 170px;
  resize: none;
  border-radius: 5px;
  padding: 13px 10px;
  &::placeholder {
    font-size: 16px;
    color: var(--bg2);
  }
}
.form-submit {
  margin: 0 auto;
  border: none;
  padding: 11px 48px;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  color: var(--bg2);
  font-family: inherit;
  font-size: 16px;
}
.social-box {
  color: #fff;
}
.social-list {
  display: flex;
  flex-direction: column;
  gap: 18px 0;
  margin-bottom: 32px;
}
.social-list-item {
  display: flex;
  align-items: center;
  img {
    margin-right: 6px;
  }
}
.social-list-link {
}
.contacts-social {
  display: flex;
  gap: 0 8px;
}
.social-item {
}
.social-link {
}

@media (max-width: 800px) {
  .contacts-box {
    flex-direction: column;
    gap: 32px 0;
    align-items: center;
  }
  .contacts-form {
    margin-right: 0px;
  }
  .social-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
