.reviews {
}
.review-wrapper {
  background: #f5f5f5;
  padding: 50px;
}
.review-title {
  text-align: center;
  margin-bottom: 35px;
}
.reviews .review-items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 0;
  .review-item {
    width: 50%;
    display: flex;
    padding-right: 8px;
  }
}
.review-image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: var(--bg2);
  margin-right: 27px;
  flex-shrink: 0;
}
.review-body {
  background: #ebebeb;
  border-radius: 5px;
  padding: 16px 12px 16px 20px;
  position: relative;
  font-size: 14px;
  &::before {
    content: '';
    border-style: solid;
    border-width: 0 11.5px 12px 11.5px;
    border-color: transparent transparent #ebebeb transparent;
    transform: rotate(270deg);
    position: absolute;
    left: -17px;
    top: 27px;
  }
}
.review-text {
  max-width: 439px;
  margin-bottom: 9px;
  font-style: italic;
  hyphens: auto;
}
.review-author {
  color: #989898;
}

@media (max-width: 1150px) {
  .review-swiper .review-items{
    flex-wrap: nowrap;
    .review-item {
      width: 100%;
    }
  }
}
